body{
    overflow: hidden;
    margin:0;
    padding:0;
}
.first{
    position:relative;
    height:100vh;
    width:100vw;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    background:url(imgs/bg1.jpg);
    background-attachment:fixed; 
    background-size:cover;

    perspective: 500px;
    perspective-origin: center center;
}
.web_logo{
    position: absolute;
    z-index: 1;
    height: 95;
    margin:10 0 0 20;
    transform:translateX(-120px);

    transition: 0.5s cubic-bezier(.58,.87,0,1.5);
}
.l_active{
    transform:translateX(0px);
}
.list_logo{
    position: absolute;
    height: 55;
    right: 0;
    z-index:1;
    margin:10 20 0 0;
    transform:translateX(100px);

    transition: 0.5s cubic-bezier(.58,.87,0,1.5);
}
.list_active{
    transform:translateX(0px);
}
.line{
    height:300px;
    width:2px;
    border-radius:2000px;
    background:linear-gradient(to top,#EB9331,transparent);
    position: absolute;
    left:5%;    
    animation: falling 3s cubic-bezier(.54,.5,0,1) infinite;
}
.line:nth-child(1){
    top:0;
    left:25%;
    animation-delay: 500ms;
}
.line:nth-child(2){
    top:-20%;
    left:90%;
}
.line:nth-child(3){
    top:16%;
    left:50%;
    animation-delay: 400ms;
}
.line:nth-child(4){
    top:-18%;
    left:65%;
    animation-delay: 600ms;
}
.line:nth-child(5){
    top:-20%;
    left:39%;
    animation-delay: 600ms;
}
.line:nth-child(6){
    top:-68%;
    left:82%;
    animation-delay: 600ms;
}
@keyframes falling{
100%{transform:translateY(1000px);}
}
.box{
    height: 200px;
    width:200px;
    background-color: blue;
    position: absolute;
    top:0;
    left:0;
}
.wlc_msg{
    z-index: 2;
    display: flex;
    align-items: flex-start;
    position: absolute;
    background:#ffff;
    mix-blend-mode: screen;
    letter-spacing:10px;
    transition:0.7s;
}
.wlc_msg:hover{
    background-color: greenyellow;
    content: 'Click ME';
    cursor:pointer;

    transform-style: preserve-3d;
}
.wlc_msg_active{
    transform:scale(0.1) translateX(160%);
    z-index:-1;
    opacity: 0;
}
.wlc_msg h2{
    color: gray;
    font-size:7em;
    line-height: 0em;
    font-family:'Calibri';
}
.con{
    width: 50%;
    transition: 0.7s;
    transform:scale(0.3)translateX(-80%);
    position: absolute;
    opacity:0;
}
.con_active{
    transform:scale(1)translateX(0%);
    color:white;
    opacity: 1;
}
.con p{
    text-align: center;
    font-size:1.6em;
}
.con ul{
    margin:0;
    padding:0;
    display: flex;
    justify-content:space-between;
}
.con ul li{
    cursor: pointer;
    display: flex;
    background:linear-gradient(135deg,black,transparent,black);
    color:white;
    padding:15px;
    border-radius:10px;
    letter-spacing: 4px;
    font-size: 2em;
    font-family:'Calibri';
}
